.home-container {
    width: 60%;
}

.title {
    font-size: 18px;
}

.text {
    font-size: 14px;
}

.img-info-two {
    position: relative;
    top: 11px;
    left: 6px;
}

.img-info-three{
    position: relative;
    top: -18px;
}

.img-info-four{
    position: relative;
    top: 16px;
    left: 6px;
}
