<div class="container home-container p-3  mt-2 cursor">
    <div class="d-flex flex-row d-flex justify-content-around align-items-center mb-3">
        <div class="p-2 rounded-4 shadow">
            <a><img class="mx-auto d-block" src="https://www.medibuddy.in/assets/services/doctor.svg" alt="" height="50"
                    width="50">
                <h6 class="text-center mt-1">Talk To Doctor</h6>
            </a>
        </div>
        <div class="p-2" routerLink="/medicine-home">
            <a ><img class="mx-auto d-block" src="https://www.medibuddy.in/assets/services/medicine.svg" alt=""
                    height="50" width="50">
                <h6 class="text-center mt-1">Medicine</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a><img class="mx-auto d-block" src="https://www.medibuddy.in/assets/services/surgery.svg" alt=""
                    height="50" width="50">
                <h6 class="text-center mt-1">Surgery</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a><img class="mx-auto d-block" src="https://www.medibuddy.in/assets/services/mb-gold.svg" alt=""
                    height="50" width="50">
                <div>
                    <span class="text-center mt-1" style="font-weight: 600;"><span
                            style="color: rgb(63, 120, 243);">Med</span><span
                            style="color: rgb(230, 46, 45);">Life</span></span>
                </div>
            </a>
        </div>
        <div class="p-2 ">
            <a><img class="mx-auto d-block" src="https://www.medibuddy.in/assets/services/insurance.svg" alt=""
                    height="50" width="50">
                <h6 class="text-center mt-1">Insurance</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a><img class="mx-auto d-block" src="https://www.medibuddy.in/assets/services/labtest.svg" alt=""
                    height="50" width="50">
                <h6 class="text-center mt-1">Labtest</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a><img class="mx-auto d-block display-center" src="https://www.medibuddy.in/assets/icons/more.svg" alt=""
                    height="50" width="50">
                <h6 class="text-center mt-1">More</h6>
            </a>
        </div>
    </div>
</div>

<div class="container home-container p-4 border mt-2  rounded-pill shadow">
    <div class="row">
        <div class="col-6 text-end p-3">
            <h5> Consult with Top Doctors Online, 24x7 </h5>
        </div>
        <div class="col-md-4">
            <p class="border cursor p-3 text-center text-primary rounded-pill shadow-sm">Start Consultation
                <i class="bi bi-arrow-right ms-2 mt-2 fs-5"></i>
            </p>
        </div>
    </div>
</div>

<div class="container  w-75 mt-5">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container w-75 mt-5 rounded-pill shadow">
    <div class="row cursor">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">
    </div>
</div>

<div class="container w-75 mt-5">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mt-1">Medlife GOLD</h4>
            <h3 class="mt-4">Give the care your family deserve</h3>
            <h6 class="mt-4 fs-5">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h6>
            <p class="border mt-5 w-50 p-3 text-center rounded-pill fw-bold text-bg-warning">Buy Medlife Gold <i
                    class="bi bi-arrow-right fw-bold ms-3 mt-3 fs-5"></i></p>

        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="card rounded-3 shadow " style="width: 14rem; height:15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" height="100"
                        width="100" class="info-img" alt="">
                    <div class="card-body">
                        <h5 class="card-title title">Unlimited free consulation</h5>
                        <p class="card-text text">Get free unlimited consult with all <strong>doctors 24x7</strong></p>
                    </div>
                </div>


                <div class="card rounded-3 shadow box ms-4 mt-4 img-info-two" style="width: 14rem; height:15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" height="100" width="100"
                        alt="" class="info-img">
                    <div class="card-body">
                        <h5 class="card-title title">Free For Full Family</h5>
                        <p class="card-text text">Free consultations for upto<strong> 6 family members</strong></p>
                    </div>
                </div>


                <div class="card rounded-3 shadow mt-4 img-info-three" style="width: 14rem; height:15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" height="100" width="100"
                        alt="" class="info-img">
                    <div class="card-body">
                        <h5 class="card-title title">Free For All Health Problems</h5>
                        <p class="card-text text">Consult with any doctor from <strong>18 departments</strong> at any
                            time</p>
                    </div>
                </div>

                <div class="card rounded-3 shadow box ms-4 mt-4 img-info-four" style="width: 14rem; height:15rem">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg" height="100"
                        width="100" alt="" class="info-img">
                    <div class="card-body">
                        <h5 class="card-title title">Video Consultations</h5>
                        <p class="card-text text">Video Consults with top doctors <strong>24x7</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>