<div class="container-fluid p-5 bg-primary text-white" style=" height:180px">
    <div class="row">
        <h2 class="text-center fw-semibold">Get Huge Savings on Medicines</h2>
    </div>
    <div>
        <div class="d-flex flex-row mb-3 justify-content-center">
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>&nbsp; 100 % Genuine Medicines</div>
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>&nbsp; Trusted Pharmacies</div>
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>&nbsp; Delivery to your doorstep</div>
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>&nbsp; Store Pick up</div>
        </div>
    </div>
</div>
<div class="container w-75">
    <div class="input-group input-group-lg shadow rounded-4">
        <span class="input-group-text search-heading bg-body" id="inputGroup-sizing-lg">{{showDefaultPinCode ? "Pune
            560029" : pincodeDetails?.pincodeCity + " " + pincodeDetails?.pincode }}<span class="text-primary"><i
                    class="bi bi-chevron-down ms-4 fs-5" data-bs-toggle="modal" data-bs-target="#exampleModals">
                </i></span></span>
        <input type="text" class="form-control" placeholder="Search Medicines" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text search-heading bg-body text-primary fw-semibold" id="inputGroup-sizing-lg"><i
                class="bi bi-search fw-semibold text-primary"></i> &nbsp; Search</span>
    </div>
</div>


<div class="container">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/banners/medicine-page.webp" alt="">
    </div>
</div>

<div class="container mt-4">
    <div class="clearfix">
        <div class="ms-3 fs-2 fw-semibold float-start"> Top Deals</div>
        <a routerLink="/top-deals-by-categories" class="text-decoration-none fs-5 float-end cursor">View All</a>
    </div>
    <app-top-deals></app-top-deals>
</div>

<div class="modal fade" id="exampleModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <label for="validationCustom01" class="form-label fs-4 fw-semibold">Set Your Location</label>
                <input type="text" class="form-control" id="validationCustom01" value="" [(ngModel)]="pincode"
                    maxlength="6" required>
                <div class="invalid-feedback d-block" *ngIf="displayErrorMessage">
                    No Providers available at this Pincode
                </div>
            </div>
            <div class="d-grid gap-2 m-3">
                <button class="btn btn-primary" type="button" (click)="VerifyPincode()">Submit</button>
            </div>
        </div>
    </div>
</div>